.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    overflow: auto; 
}

.modal-content {
    position: relative;
    margin: 2% auto;
    padding: 0;
    background-color: white;
    width: 90%; 
    max-width: 600px; 
    height: 90%; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal-content {
        top: 10%;
        height: 70%;    
    }
}


#timer-display {
    margin-top: 200px !important;
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.timer-buttons {
    display: flex;
    flex-direction: column; /* Les boutons sont empilés verticalement */
    gap: 10px; /* Ajoute de l'espace entre les boutons */
    width: 100%; /* Les boutons prennent toute la largeur disponible */
    align-items: center; /* Centre les boutons horizontalement */
}

.timer-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #97B652;
    color: white;
    text-align: center;
    width: auto; /* Ajuste la largeur pour qu'elle s'adapte au contenu */
}

.timer-buttons button:hover {
    background-color: #88A346; /* Change légèrement la couleur au survol */
}