body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(to right, #5c7987, #3a4c54);
    
    flex-direction: column; /* Alignement vertical des éléments */
    color: white;
}

.card-container {
    text-align: center;
    position: relative;
}

.card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 10px;
    
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #5c7987;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.6s ease-in-out;
    
}

.card-front {
    /* background-color: #5c7987 ; */
    background-image: url(../assets/Plan\ de\ travail\ 3\ copie.svg);
    background-size:contain; 
    background-position: 1ch -10ch;
    background-repeat: no-repeat; 
    flex-direction: column;
   
}

.card-back {
    background-image: url(../assets/Plan\ de\ travail\ 3\ copie.svg);
    background-size:contain; 
    background-position: 1ch -10ch;
    background-repeat: no-repeat; 
    flex-direction: column;
    transform: rotateY(180deg);
}

.card.flipped .card-front {
    transform: rotateY(-180deg);
}

.card.flipped .card-back {
    transform: rotateY(0deg);
}

h3 {
    margin: 20px 0;
    font-size: 15px;
}

#question-number {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    right: 20px;
    color: #4CAF50;
    font-weight: bold;
}

#question-number-minus {
    font-size: 1.5rem;
    position: absolute;
    bottom: -2px;
    left: 20px; 
    color: #F44336;
    font-weight: bold;
}

#answer {
    color: #333;
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

button {
    background-color: #97B652;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: bold;
}

button:hover {
    background-color: #88A346;
}

/* .timer-container {
    position: fixed;
    top: 35px;
    left: 10px;
    padding: 15px;
} */

#timer-display {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.timer-buttons {
    display: flex;
    flex-direction: row; /* Alignement horizontal des boutons */
    gap: 10px;
    align-items: center;
}

.timer-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #97B652;
    color: white;
    text-align: center;
}

.timer-buttons button:hover {
    background-color: #88A346;
}

/* Styles spécifiques pour les petits écrans */
@media (max-width: 768px) {
    .card-front {
        background-position: 1ch -6ch;
    }
    .card-back {
        background-position: 1ch -6ch;
    }
    .card-container {
        display: flex;
        flex-direction: column; /* Alignement vertical pour les petits écrans */
        align-items: center;
    }
    
    #question-number {
        font-size: 1.2rem;
        right: 10px;
    }
    
    #answer {
        padding: 10px;
    }
    
    .timer-container {
        position: static; /* Le timer passe sous les cartes */
        padding: 10px;
    }

    
}

@media (max-width: 480px) {
    .card {
        width: 250px;
        height: 350px;
    }

    #question-number {
        font-size: 1rem;
        right: 5px;
    }

    #answer {
        padding: 8px;
    }

    .timer-container {
        padding: 10px;
    }
}
