body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5c7987, #3a4c54);
    max-height: 100vh;
    color: white;
}


.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar.active {
    transform: translateX(0); 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 60px;
}

h2 {
    color: white;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    background-color: white;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #f59b21;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f59b21;
}


@media (max-width: 768px) {

    .navbar .menu a {
        font-size: 1em;
    }

    #canvas-container {
        width: 90%;
        height: auto; 
    }

  
}


@media (max-width: 480px) {

    .hamburger {
        font-size: 1.5em;
    }

    #canvas-container {
        width: 100%; 
        height: auto;
    }

}
